body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 600px;
  align-items: center;
}

.clock {
  width: 200px;
  height: 200px;
  border: 20px solid #3f4441;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 25px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  background: rgba(255, 222, 207, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: #5e6f64;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.5s ease-in-out;
}

.sec-hand {
  background: rgba(94, 111, 100, 0.2);
}
